.command   
{
	color: aqua;
}

.flag   
{
	color: aqua;
}

.value    
{
	color: yellow;
}

.taskTitle    
{
	color: orange;
	font-weight: bold;
}

.commentedCode    
{
	color: green;
}

.checkButton    
{
	color: lime; 
	font-weight: bold;
}
